datasets:
  - name: thermodynamics
    dataSource: /thermostat
    destinations:
      - configuration:
          topic: azure-iot-operations/data/device-001/currentAmbientTemperature
        target: Mqtt
    dataPoints:
      - dataSource: /piwebapi/assetservers/F1RSCf1onAl8tkuTYgE2NfIPFQQVZFVkFQSQ/assetdatabases
        name: genericDataPoint
        dataPointConfiguration: |-
          {
              "samplingInterval": 5000
          }
  - name: pneumatics
    dataSource: /thermostat
    destinations:
      - configuration:
          topic: azure-iot-operations/data/device-001/currentAmbientPressure
        target: Mqtt
    dataPoints:
      - dataSource: /piwebapi/assetdatabases/F1RDCf1onAl8tkuTYgE2NfIPFQNp0AsaE7302XMsysUw2j2gQVZFVkFQSVxERUZBVUxUVVNFUkRC/elements
        name: genericDataPoint
        dataPointConfiguration: |-
          {
              "samplingInterval": 1000
          }
      - dataSource: /piwebapi/assetservers/F1RSCf1onAl8tkuTYgE2NfIPFQQVZFVkFQSQ/assetdatabases
        name: verySpecificDataPoint
        dataPointConfiguration: |-
          {
              "samplingInterval": 6000
          }
