# Default values for aio-connector-multidataset.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
---
# This is to override the chart name
nameOverride: ""
fullnameOverride: ""

assetName: device-001
deviceInboundEndpointAddress: https://11.0.0.4:443
mqttConnectionConfigurationHost: aio-broker:18883

replicas: 1

# Container image details for the connector application
# Pull policy is fixed to "Always"
# The image reference used is of form {{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
image:
  repository: ghcr.io/suneetnangia/aio-connector-multidataset
  # Letting the tag default to the chart app version
  #tag: main

# This is for the secrets for pulling an image from a private repository more information can be found here:
# https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
